.icon-notification {
  background: url('@/assets/icons/notification.svg') no-repeat center center;
  background-size: 100%;
  height: 24px;
  width: 24px;
  display: inline-block;
}
.icon-arrow-up {
  background: url('../../../src/assets/icons/arrow-up.svg') no-repeat center center;
  background-size: 100%;
  height: 24px;
  width: 24px;
  display: inline-block;
}
.icon-heart-default {
  background: url('../../../src/assets/icons/heart-default.svg') no-repeat center center;
  background-size: 100%;
  height: 24px;
  width: 24px;
  display: inline-block;
}
.icon-home {
  background: url('../../../src/assets/icons/home.svg') no-repeat center center;
  background-size: 100%;
  height: 24px;
  width: 24px;
  display: inline-block;
}
.icon-left-arrow {
  background: url('../../../src/assets/icons/left.svg') no-repeat center center;
  background-size: 100%;
  height: 24px;
  width: 24px;
  display: inline-block;
}