// padding
.pad-20 {
  padding: 20px;
}
.pad-x-20 {
  padding: 20px 0;
}
.pad-y-20 {
  padding: 0 20px;
}
.pad-t-20 {
  padding: 20px 0 0 0;
}
.pad-b-20 {
  padding: 0 0 20px 0;
}

.pad-32 {
  padding: 32px;
}
.pad-x-32 {
  padding: 32px 0;
}
.pad-y-32 {
  padding: 0 32px;
}
.pad-t-32 {
  padding: 32px 0 0 0;
}
.pad-b-32 {
  padding: 0 0 32px 0;
}