// @import url("https://use.typekit.net/ijr1wam.css");
// Font

$default-font: 'europa', 'Pretendard-Regular', sans-serif;
// $default-font: "Pretendard-Regular";
$Pretendard-Light-font: "Pretendard-Light";
$Pretendard-Regular-font: "Pretendard-Regular";
$Pretendard-Medium-font: "Pretendard-Medium";
$Pretendard-SemiBold-font: "Pretendard-SemiBold";
$Pretendard-Bold-font: "Pretendard-Bold";



// black
$black-1: #090909;
$black-2: #25282B;

// white
$white-1: #ffffff;
$white-2: #F7F7F7;
$white-3: #f6f6f6;

// grey
$grey-1: #C4C4C4;
$grey-2: #E5E5E5;
$grey-3: #797979;

// purple
$purple-1: #5700FF;

// red
$red: #F44848;

// pink
$pink-1: #E299C3;

// blue
$blue-1: #ADDAD9;

// green
$green-1: #BCD46C;
