// Font
$default-font: "Nunito", sans-serif;

// black
$black-1: #090909;
$black-2: #3b3b3b;
$black-3: #434343;


// orange
$orange-1: #d3766a;

// text color
$white-1: #ffffff;
$grey-1: #cccccc;
$black-4: #9a9a9a;

// red
$red: #ef4444;
$red-2: #FF0000;
