@import "./resets";
@import "./font";
@import "./Variables";
@import "./mixins";
@import "./icons";

* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  font-family: $default-font;
  margin: 0;
  padding: 0;
  height: 100%;
}
.test {
  h1 {
    background-color: $purple-1;
  }
}
