@import "./resets";
@import "./Variables";
@import "./mixins";

* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  font-family: $default-font;
  margin: 0;
  padding: 0;
  height: 100%;
}